<html>
<head>
<script type="text/javascript" src="angular.min.js"></script>
<script type="text/javascript" src="angular-route.min.js"></script>
<script type="text/javascript" src="16controller.js"></script>
</head>
<body ng-app="mainApp">
	<!-- Search box -->
	<!-- Use of a simple search box using filters -->
	<input type="Text" ng-model="searchBox">
	<div ng-controller="people">
		<ul>
			<h2>Names and Age of niggz</h2>
			<li ng-repeat="person in persons | filter:searchBox">
				{{person.Name + ':' + person.Age}}
			</li>
		</ul>
	</div>
	


	
</body>
</html>
<!--  -->